<!DOCTYPE html>
<html>
<head>
<script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
</head>
<body>

<h3>Welcome {{email}}</h3>

<input id="msg" placeholder="message">
<button onclick="sendMsg()">Send</button>

<ul id="chat"></ul>

<script>
const socket = io();

function sendMsg() {
    let msg = document.getElementById("msg").value;

    socket.emit("send_message", {
        user: "{{email}}",
        msg: msg
    });
}

socket.on("receive_message", function(data) {
    let li = document.createElement("li");
    li.innerText = data.user + ": " + data.msg;
    document.getElementById("chat").appendChild(li);
});
</script>

</body>
</html>