<!DOCTYPE html>
<html>
<head>
<title>Compose</title>
<style>
body {
    font-family: Arial;
    background: #eef2f3;
}
.box {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
}
input, textarea, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
button {
    background: green;
    color: white;
}
</style>
</head>

<body>

<div class="box">
<h2>Send Email</h2>

<form action="/send" method="POST">
<input type="text" name="receiver" placeholder="Receiver">
<input type="text" name="subject" placeholder="Subject">
<textarea name="message"></textarea>
<button>Send</button>
</form>

</div>

</body>
</html>